@font-face {
  font-display: swap;
  font-family: 'M PLUS 1 Code';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/m-plus-1-code-v12-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Electrolize';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/electrolize-v18-latin-regular.woff2') format('woff2');
}

.font-m-plus {
  font-family: 'M PLUS 1 Code', sans-serif;
}

.font-electrolize {
  font-family: 'Electrolize', sans-serif;
}